@page
@model HealthUP.Pages.payment.billingModel
@{
    ViewData["Title"] = "Billing";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Billing</title>
    <link rel="stylesheet" type="text/css" href="~/css/billing.css">
</head>
<body>
    <div class="col-md-6 offset-md-3 mt-5">

        <h1>Billing Info</h1>
        <br />
        <form method="post">
            <input asp-for="report.Medicine_Cost" value="30" name="medicineFee" readonly hidden disabled />

            <div class="form-group">
                <h6>Johnathanan Smith</h6>
                <h6>S1223456S</h6>
                <h6>Male</h6>
                <h6>1/12/12</h6>
            </div>
            <div class="form-group">
                <label>Medicines</label>
                <input class="form-control" value="Panadol" disabled />
            </div>
            <div class="form-group">
                <label>Cost</label>
                <input class="form-control" value="$40" disabled />
            </div>
            <div class="form-group">
                <input id="payment" type="submit" value="Payment" class="login100-form-btn" />
            </div>

        </form>
        </div>
</body>
</html>
