@page
@model HealthUP.Pages.payment.billingModel
@{
    ViewData["Title"] = "Billing";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Billing</title>
    <link rel="stylesheet" type="text/css" href="~/css/billing.css">
</head>
<body>
        <h2>Billing Info</h2>
        <form runat="server" method="post">
            <div class="form-group">
                <table>
                    <tr>
                        <td colspan="3" class="details">
                            <h6>Johnathanan Smith</h6>
                            <h6>S1223456S</h6>
                            <h6>Male</h6>
                            <h6>1/12/12</h6>
                        </td>
                        <td><p>qr code here</p></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Medcine
                        </td>
                        <td>Amount</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="2">medname</td>
                        <td rowspan="2">amountname</td>
                        <td rowspan="2">
                            <div class="container-login100-form-btn">
                                <input id="payment" type="submit" value="Payment" class="login100-form-btn" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </form>

</body>
</html>
