@page
@model Health_up.Pages.admin.ActivityModel
@using Health_up.Models;
@{ }

<div class="col-md-6 offset-md-3 mt-5">

    <h1>Adding Activity</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form accept-charset="UTF-8" method="POST">
        <div class="form-group">
            <input type="hidden" asp-for="Myactivity.Id" class="form-control" value="@Model.id" ty />
        </div>
        <div class="form-group">
            <label for="name">Activity Name</label>
            <input type="text" class="form-control" asp-for="Myactivity.Activity_name" placeholder="Enter Activity Name" required="required">
        </div>
        <div class="form-group">
            <label for="description" required="required">Activity Description</label>
            <input type="text" required class="form-control" asp-for="Myactivity.Activity_description" placeholder="Enter Details of Activity">
        </div>
        <div class="form-group">
            <label for="start_date" required="required">Activity Start Date</label>
            <input type="date" re class="form-control" asp-for="Myactivity.Activity_start_date">
        </div>
        <div class="form-group">
            <label for="end_date" required="required">Activity End Date</label>
            <input type="date" re class="form-control" asp-for="Myactivity.Activity_end_date">
        </div>
        <div class="form-group">
            <label for="end_date" required="required">Timeslot</label>
            <select class="form-control" asp-for="Myactivity.Activity_timeslot">
                <option class="hidden" selected disabled>--Select timeslot--</option>
                <option value="07:00am - 08:30am">07:00am - 08:30am</option>
                <option value="09:00am - 10:30am">09:00am - 10:30am</option>
                <option value="11:00am - 12:30pm">11:00am - 12:30pm</option>
                <option value="01:00pm - 02:30pm">01:00pm - 02:30pm</option>
                <option value="03:00pm - 04:30pm">03:00pm - 04:30pm</option>
                <option value="05:00pm - 06:30pm">05:00pm - 06:30pm</option>
                <option value="07:00pm - 08:30pm">07:00pm - 08:30pm</option>
            </select>
        </div>

        <label for="price" required="required">Price </label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>

            <input type="number" re class="form-control" asp-for="Myactivity.Activity_price">
        </div>
        <hr>
        <div class="form-group mt-3">
            <label class="mr-2">Upload The Activity Image:</label>
            <input type="file" asp-for="Myactivity.Activity_photo">
        </div>
        <hr>
        <button type="submit" class="btn btn-success float-right">Submit</button>
        <br />
        <br />
        <br />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

