@page
@model Health_up.Pages.doctor.report.medical_reportModel
@{
    ViewData["Title"] = "Medical Report";
}

    <div class="col-md-6 offset-md-3 mt-5">
        <h1>Create Medical Report</h1>
        <form method="post" runat="server">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div><label class="text-danger">@Model.msg</label></div>
            <div class="form-group">
                <label>Elderly NRIC</label>
                <input asp-for="report.Elderly_ID" class="form-control" placeholder="Elderly NRIC" />
                <span asp-validation-for="report.Elderly_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Doctor NRIC</label>
                <input asp-for="report.Doctor_ID" class="form-control" placeholder="Doctor NRIC" />
                <span asp-validation-for="report.Doctor_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Date of Report</label>
                <input asp-for="report.Report_date" class="form-control" placeholder="date" />
                <span asp-validation-for="report.Report_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Symptoms</label>
                <input asp-for="report.Symptoms" class="form-control" placeholder="Symptoms" />
                <span asp-validation-for="report.Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Imunities</label>
                <input asp-for="report.Immunities" class="form-control" placeholder="Immunities" />
                <span asp-validation-for="report.Immunities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Medicines</label>
                <input asp-for="report.Medicines" class="form-control" placeholder="Medicines" />
                <span asp-validation-for="report.Medicines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Medicines Cost</label>
                <input asp-for="report.Medicine_Cost" class="form-control" placeholder="Medicines Cost" />
                <span asp-validation-for="report.Medicine_Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Additional Notes</label>
                <input asp-for="report.Note" class="form-control" placeholder="Additional Note" />
            </div>
            <input type="checkbox" id="doctor_validation" name="doctor_validation" value="false" asp-for="report.Signature" onclick="Change"/>
            <label for="doctor_validation">I,[doctorname] of [specialisation] in [hospital] approve of this medical report</label><br />
            <input type="checkbox"  id="mail" name="mail" value="mail" />
            <label for="mail">Email this medical report to the patient</label>
            <input id="create" type="submit" value="Create Report" class="btn btn-primary float-right" />
            <br />
            <br />
            <br />
        </form>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
