@page
@model Health_up.Pages.doctor.report.downloadModel
@{
    ViewData["Title"] = "Download";
}
<a class="btn btn-primary" asp-page="/doctor/report/view">Go back to view medical reports</a>

<div>
    <div id="conatiner">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        logo
                    </td>
                    <td>
                        date of the report, total cost
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        address of the patient singpore erejree
                    </td>
                </tr>
                <tr>
                    <td>
                        john, s2o23-32 male dateofbirth email
                    </td>
                </tr>
                <tr>
                    <td>
                        symptoms
                    </td>
                    <td>
                        back pain potential caner
                    </td>
                </tr>
                <tr>
                    <td>
                        immuniteis
                    </td>
                    <td>
                        morphine, alchool
                    </td>
                </tr>
                <tr>
                    <td>
                        medicines

                    </td>
                    <td>
                        opiod smminfien ofnm wo
                    </td>
                </tr>
                <tr>
                    <td>
                        additional naot
                    </td>
                    <td>
                        the actula note
                    </td>
                </tr>
            </tbody>
            <tfoot>

                <tr>
                    <td>
                        doctorname
                        speicaliston
                        hospintal
                    </td>
                </tr>
            </tfoot>


        </table>
    </div>
    <div>
        <button onclick="printelem(conatiner)">Print document</button>
    </div>
</div>
<script>
    function printelem(conatiner) {
        var head = '<html><head><title></title></head><body>'
        var foot = '</body></html>';
        var news = document.all.item(conatiner).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = head + news + foot;
        window.print();
        document.body.innerHTML = oldstr;
        return false;

    }
</script>