@page
@model Health_up.Pages.doctor.timeslot.CreateModel
@{
    ViewData["Title"] = "Create Appointment TimeSlot";
}
@using Microsoft.AspNetCore.Http;

<div class="col-md-6 offset-md-3 mt-5">
    <h1>Appointment Timeslot</h1>
    <form method="post">
        <div class="form-group">
            <input asp-for="DocTimeslot.Id" id="uuid" class="form-control" type="hidden" />
            <span asp-validation-for="DocTimeslot.Id" class="text-danger"></span>
        </div>

        @{ if (HttpContext.Session.GetString("Email") != null)
            {
                <input type="hidden" asp-for="DocTimeslot.DoctorId" class="form-control" value="@(HttpContext.Session.GetString("Email"))" />
            }
        }

        <div class="form-group">
            <label>Date:</label>
            <br />
            <input asp-for="DocTimeslot.Date" class="form-control" id="datepicker" value="" placeholder="dd/mm/yyyy" />
            <span asp-validation-for="DocTimeslot.Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Time:</label>
            <br />
            <select name="DocTimeslot.Time" class="form-control">
                <option class="hidden" selected disabled>--Select your preferred timeslot--</option>
                <option value="00:00 - 00:30">00:00 - 00:30</option>
                <option value="00:30 - 01:00">00:30 - 01:00</option>
                <option value="01:00 - 01:30">01:00 - 01:30</option>
                <option value="01:30 - 02:00">01:30 - 02:00</option>
                <option value="02:00 - 02:30">02:00 - 02:30</option>
                <option value="02:30 - 03:00">02:30 - 03:00</option>
                <option value="03:00 - 03:30">03:00 - 03:30</option>
                <option value="03:30 - 04:00">03:30 - 04:00</option>
                <option value="04:00 - 04:30">04:00 - 04:30</option>
                <option value="04:30 - 05:00">04:30 - 05:00</option>
                <option value="05:00 - 05:30">05:00 - 05:30</option>
                <option value="05:30 - 06:00">05:30 - 06:00</option>
                <option value="06:00 - 06:30">06:00 - 06:30</option>
                <option value="06:30 - 07:00">06:30 - 07:00</option>
                <option value="07:00 - 07:30">07:00 - 07:30</option>
                <option value="07:30 - 08:00">07:30 - 08:00</option>
                <option value="08:00 - 08:30">08:00 - 08:30</option>
                <option value="08:30 - 09:00">08:30 - 09:00</option>
                <option value="09:00 - 09:30">09:00 - 09:30</option>
                <option value="09:30 - 10:00">09:30 - 10:00</option>
                <option value="10:00 - 10:30">10:00 - 10:30</option>
                <option value="10:30 - 11:00">10:30 - 11:00</option>
                <option value="11:00 - 11:30">11:00 - 11:30</option>
                <option value="11:30 - 12:00">11:30 - 12:00</option>
                <option value="12:00 - 12:30">12:00 - 12:30</option>
                <option value="12:30 - 13:00">12:30 - 13:00</option>
                <option value="13:00 - 13:30">13:00 - 13:30</option>
                <option value="13:30 - 14:00">13:30 - 14:00</option>
                <option value="14:00 - 14:30">14:00 - 14:30</option>
                <option value="14:30 - 15:00">14:30 - 15:00</option>
                <option value="15:00 - 15:30">15:00 - 15:30</option>
                <option value="15:30 - 16:00">15:30 - 16:00</option>
                <option value="16:00 - 16:30">16:00 - 16:30</option>
                <option value="16:30 - 17:00">16:30 - 17:00</option>
                <option value="17:00 - 17:30">17:00 - 17:30</option>
                <option value="17:30 - 18:00">17:30 - 18:00</option>
                <option value="18:00 - 18:30">18:00 - 18:30</option>
                <option value="18:30 - 19:00">18:30 - 19:00</option>
                <option value="19:00 - 19:30">19:00 - 19:30</option>
                <option value="19:30 - 20:00">19:30 - 20:00</option>
                <option value="20:00 - 20:30">20:00 - 20:30</option>
                <option value="20:30 - 21:00">20:30 - 21:00</option>
                <option value="21:00 - 21:30">21:00 - 21:30</option>
                <option value="21:30 - 22:00">21:30 - 22:00</option>
                <option value="22:00 - 22:30">22:00 - 22:30</option>
                <option value="22:30 - 23:00">22:30 - 23:00</option>
                <option value="23:00 - 23:30">23:00 - 23:30</option>
                <option value="23:30 - 00:00">23:30 - 00:00</option>
            </select>
            <br />
            <span asp-validation-for="DocTimeslot.Time" class="text-danger"></span>
        </div>

        <input id="create" type="submit" value="Create" class="btn btn-primary float-right" />
        <br />
        <br />
        <br />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script language="javascript">
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        $('#datepicker').attr('min', today);
    </script>

    <script>
        function createUUID() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        document.getElementById('uuid').value = createUUID();
    </script>
}