@page
@model Health_up.Pages.doctor.timeslot.RetrieveModel
@{
}


<style>
    .dot {
        height: 15px;
        width: 15px;
        background-color: #FFA62F;
        border-radius: 50%;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h2>My Appointment Timeslot</h2>
        <a class="btn btn-primary h-25" style="margin-top: 20px;" asp-page="/doctor/timeslot/Create">Create Appointment</a>
    </div>

    @{ if (Model.timeslotsByEmail != null)
        {
            @foreach (var item in Model.timeslotsByEmail)
            {
               
                <div class="card">
                    <div class="card-header">
                        @item.Date.ToShortDateString()
                    </div>
                    <div class="card-body d-flex mt-3">
                        <p class="card-text mr-auto p-2">@item.Time <span class="dot"></span>Appointment</p>
                        <div class="p-2">
                            <a class="btn btn-primary" asp-page="/doctor/timeslot/Edit" asp-route-id="@item.Id">Reschedule</a>
                            <a class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this timeslot?');" asp-page="/doctor/timeslot/Delete" asp-route-id="@item.Id">Remove</a>
                        </div>
                    </div>
                </div>
            }
        }

    }
</div>

