@page
@model Health_up.Pages.doctor.indexModel
@{
}
<h2>Upcoming Appointments</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Ph Num</th>
            <th scope="col">Address</th>
            <th scope="col">Reports</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">email@gmail.com</th>
            <td>Rudy Tan</td>
            <td>1/10/2023</td>
            <td>11:03</td>
            <td>98765432</td>
            <td>yishun</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">View Details</button></td>
        </tr>
        <tr>
            <th scope="row">email@gmail.com</th>
            <td>Jacob Lim</td>
            <td>2/2/2023</td>
            <td>14:03</td>
            <td>90877654</td>
            <td>woodlands</td>
            <td>View Details</td>
        </tr>
        <tr>
            <th scope="row">email@gmail.com</th>
            <td>Larry Bird</td>
            <td>3/3/2023</td>
            <td>17:04</td>
            <td>98098767</td>
            <td>serangoon</td>
            <td>View Details</td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Patient's Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><h6 style="white-space:pre;">Name:</h6>jane lim</td>
                    </tr>
                    <tr>
                        <td><h6 style="white-space:pre;">Email:</h6>smth@gg.com</td>
                        <td><h6 style="white-space:pre;">ContactNum:</h6>98765432</td>
                    </tr>
                    <tr>
                        <td><h6 style="white-space:pre;">Date:</h6>1/12/2023</td>
                        <td><h6 style="white-space:pre;">Time:</h6>11:03am</td>
                    </tr>
                    <tr>
                        <td rowspan="2">aaaaaaaagooglemapsapi</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <form runat="server" method="post">
                    <button type="submit" class="btn btn-primary">Create Report</button>
                </form>
            </div>
        </div>
    </div>
</div>