@page
@model Health_up.Pages.Auth.ChangePasswordModel
@{
}
<link rel="stylesheet" href="~/css/changepassword.css">
<script src="~/js/ChangePassword.js"></script>
<div class="mainDiv">
    <div class="cardStyle">
        <form action="" method="post" name="signupForm" id="signupForm">

            <img src="" id="signupLogo" />
            <p>@Model.MyMessage</p>
            <h5 class="formTitle">
                Change Password For @Model.Email
            </h5>
            <input type="email" hidden asp-for="MyUser.Email" value="@Model.Email" />
            <div class="inputDiv">
                <label class="inputLabel" for="password">New Password</label>
                <span id="pwd_validate"></span>
                <input asp-for="MyUser.Password" type="password" required onkeyup="javascript:validate()" id="psw" placeholder="Password *" value="" />
                <span asp-validation-for="MyUser.Password" class="text-danger"></span>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <span id="pwd_validate1"></span>
                <input type="password" asp-for="Cfmpwd" class="form-control" required placeholder="Confirm Password *" onkeyup="javascript:validate1()" id="psw1" value="" />
                <span asp-validation-for="Cfmpwd" class="text-danger"></span>
            </div>
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" onclick="validateSignupForm()" class="submitButton pure-button pure-button-primary">
                    <span>Change Password</span>
                    <span id="loader"></span>
                </button>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
