@page
@model Health_up.Pages.elderly._404Model
@{
}
<form method="post" runat="server">
    <div class="col-md-6 offset-md-3 mt-5">

        <div class="form-group">
            <h1>Oops!</h1><br />
            <label>We can't seem to find the page you're looking for</label><br /><br />
            <h6>Error Code: 404</h6><br />
            <input id="error" type="submit" value="Back to Home" class="btn btn-primary" />
        </div>
    </div>

</form>
