@page
@model HealthUP.Pages.elderly.booking.CreateModel
@{
    ViewData["Title"] = "Book an Activity";

}
<h1>Book an activity</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div> <label class="text-danger">@Model.MyMessage</label> </div>

    <div>
        <label class="col-sm-2 col-form-label">Booking Id:</label>
        <input asp-for="MyBooking.Id" class="form-control" value="" placeholder="1" />

        <span asp-validation-for="MyBooking.Id" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Location:</label>
        <select name="MyBooking.Location" class="form-control">
            <option class="hidden" selected disabled>--Select your location--</option>
            <option value="Kelvins House">Kelvins House</option>
            <option value="Woodlands">Woodlands</option>
            <option value="Admiralty">Admiralty</option>
            <option value="Yishun">Yishun</option>
            <option value="Jurong">Jurong</option>
        
        </select>
        <span asp-validation-for="MyBooking.Location" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Available Date:</label>
        <input asp-for="MyBooking.Date" class="form-control" value="" placeholder="Available Date *" />
        <span asp-validation-for="MyBooking.Date" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Available Timeslot:</label>
        <select name="MyBooking.TimeSlot" class="form-control">
            <option class="hidden" selected disabled>--Select your preferred timeslot--</option>
            <option value="00:00 - 00:30">00:00 - 00:30</option>
            <option value="00:30 - 01:00">00:30 - 01:00</option>
            <option value="01:00 - 01:30">01:00 - 01:30</option>
            <option value="01:30 - 02:00">01:30 - 02:00</option>
            <option value="02:00 - 02:30">02:00 - 02:30</option>
            <option value="06:00 - 06:30">06:00 - 06:30</option>
            <option value="23:00 - 23:30">23:00 - 23:30</option>
        </select>
        <span asp-validation-for="MyBooking.TimeSlot" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Choose a Payment Method:</label>
        <select name="MyBooking.PaymentMethod" class="form-control">
            <option class="hidden" selected disabled>--Select your payment method--</option>
            <option value="Credit Card">Credit Card</option>
            <option value="PayPal">PayPal</option>
            <option value="No rush, I will pay when I can">No rush, I will pay when I can</option>
        </select>
        <span asp-validation-for="MyBooking.TimeSlot" class="text-danger"></span>
    </div>

    <div>
        <label class="col-sm-2 col-form-label">Activity Price:</label>
        <input readonly asp-for="MyBooking.ActivityPrice" class="form-control" value="3.5" />
        <span asp-validation-for="MyBooking.ActivityPrice" class="text-danger"></span>
    </div>
    <div class="col-sm-10">
        <input id="create" type="submit" value="Pay" class="btn btn-primary" />
    </div>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
