@page
@model Health_up.Pages.elderly.booking.DeleteModel
@{
    ViewData["Title"] = "Successful Cancellation of booking";
}
<h1>Your booking has been cancelled.</h1>
<h2>Head back to view your other bookings</h2>


<div class="col-sm-10">

    <a class="btn btn-primary" asp-page="/elderly/booking/Retrieve">Back</a>
</div>


