@page
@model Health_up.Pages.NotFoundModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <img src="~/Photos/404 Error-amico.png" alt="Page Not Found" style="width:60%;">

</body>
</html>
