@page
@model HealthUP.Pages.payment.confirmModel
@{
    ViewData["Title0"] = "Confirm";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/confirmpayment.css">

</head>
<body>
    <div class="center">
        <h3>Payment Complete</h3>
        <br />
        <br />
        <img src="~/images/icons/checkmark.png" />
        <div class="buton">
            <form runat="server" method="post">
                <br />
                <input id="home" type="submit" value="Go to Home" class="login100-form-btn" runat="server" onserverclick="Home" />
                <br />
            </form>
        </div>


    </div>
</body>

