@page
@model Health_up.Pages.elderly.appointment.DeleteModel
@{
    ViewData["Title"] = "Successful Cancellation ";
}
<h1>Your apppointment has been cancelled.</h1>
<h2>Head back to view your other bookings if you have</h2>


<div class="col-sm-10">

    <a class="btn btn-primary" asp-page="/elderly/appointment/Retrieve">Back</a>
</div>


