@page
@model Health_up.Pages.elderly.appointment.HistoryModel
@{
    ViewData["Title"] = "";
    var photoPath = "~/images/" + "doctorFace.jpg";

}
<style>
    .btn {
        width: 116px;
    }
</style>
<h1>My Appointments History</h1>
<br />
<div class="card-deck">

                <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                    <div class="card-header">
                        <h3>
                            12/2/2022
                        </h3>
                    </div>
                    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a class="btn btn-primary m-1" asp-page="/elderly/appointment/DetailsHistory" >View Details</a>

                    </div>
                </div>





    





</div>




