@page
@model HealthUP.Pages.elderly.appointments.ThankYouModel
@{
    ViewData["Title"] = "Thank you page";
}
<h1>Successful Appointment Booking/Medicine Payment!</h1>
<h2>Thank you for booking/payment with us! Click next to manage your appointment</h2>

    <div class="col-sm-10">
        <a class="btn btn-primary" asp-page="/elderly/appointment/Retrieve">Next</a>
    </div>


