.headerName {
    margin-top: 40px;
    margin-bottom: 20px;
}

.panel {
    padding: 30px;
}

.item label {
    padding: 0px;
}

.item input {
    width:20%;
}
.item select {
    width: 20%;
}
#create {
    width:10%;
}